In [49]:
a=10
b=20
a
b

20

In [13]:
a=10
b=20
print(a)
print(b)

10
20

In [7]:
print(a)
print(b)

10
20

In [9]:
print(a),print(b)

10
20

(None, None)

In [11]:
10,20

(10, 20)

In [15]:
print(a,b)

10 20

In [17]:
print(30,'xyz', 'Hyd')

30 xyz Hyd

In [25]:
num1=100
num2=200
add=num1+num2
#the addition of 100 and 200 is 300
print("the addition of 100 and 200 is 300")
print("the addition of num1 and num2 is 300")
print("the addition of",num1,"and",num2,"is",add)

the addition of 100 and 200 is 300
the addition of num1 and num2 is 300
the addition of 100 and 200 is 300

In [27]:
name="python"
age=10
city="hyd"
#my name is python im 10 years old and came from hyd
print("my name is" ,name,"im",age,"years old and came from",city)

my name is python im 10 years old and came from hyd

**format Method**

In [34]:
name="python"
age=10
city="hyd"
print("my name is {} im {} years old and came from {}".format(name,age,city))

my name is python im 10 years old and came from hyd

In [38]:
num1=100
num2=200
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 100 and 200 is 300

In [ ]:
#WAP take two numbers perform the 
#sub,mult,div 
#print the statements as follows

#the sub of 100 and 200 is -100
#the mult of 100 and 200 is 20000
#the division of 100 and 200 is 0.5

In [42]:
num1=100
num2=200
sub=num1-num2
mult=num1*num2
div=num1/num2
print("the sub of {} and {} is {}".format(num1,num2,sub))
print("the mult of {} and {} is {}".format(num1,num2,mult))
print("the div  of {} and {} is {}".format(num1,num2,div))

the sub of 100 and 200 is -100
the mult of 100 and 200 is 20000
the div  of 100 and 200 is 0.5

In [ ]:
#WAP take three numbers perform the average
#a,b,c
#avg=(a+b+c)/3
#print the statement
#the average of a,b,c is :avg

In [62]:
a=10
b=10
c=10
avg=(a+b+c)/3
print("the avg of a,b,c is : avg")
print("the avg of {},{},{} is : {}".format(a,b,c,avg))

the avg of a,b,c is : avg
the avg of 10,10,10 is : 10.0

In [66]:
num1=100
num2=200
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))

print("======================================================")

num1=100
num2=200
sub=num1-num2
mult=num1*num2
div=num1/num2
print("the sub of {} and {} is {}".format(num1,num2,sub))

print("======================================================")

print("the mult of {} and {} is {}".format(num1,num2,mult))

print("======================================================")

print("the div  of {} and {} is {}".format(num1,num2,div))

print("======================================================")

a=10
b=10
c=10
avg=(a+b+c)/3
print("the avg of a,b,c is : avg")
("the avg of {},{},{} is : {}".format(a,b,c,avg))

the addition of 100 and 200 is 300
======================================================
the sub of 100 and 200 is -100
======================================================
the mult of 100 and 200 is 20000
======================================================
the div  of 100 and 200 is 0.5
======================================================
the avg of a,b,c is : avg
the avg of 10,10,10 is : 10.0

**f string method:formatted string method**

In [17]:
num1=100
num2=200
add=num1+num2
print("the addition of {} and {} is {}".format(num1,num2,add))
print(f"the addition of {num1} and {num2} is {add}")

the addition of 100 and 200 is 300
the addition of 100 and 200 is 300

In [77]:
num1=100
num2=200
add=num1+num2
print(f"the addition of {num1} and {num2} is {add}")

print("=======================addition===============================")

num1=100
num2=200
sub=num1-num2
print(f"the sub of {num1} and {num2} is {sub}")

print("========================subtraction==============================")

num1=100
num2=200
mult=num1*num2
print(f"the mult of {num1} and {num2} is {mult}")

print("=========================multiplication=============================")

num1=100
num2=200
div=num1/num2
print(f"the div  of {num1} and {num2} is {div}")

print("=========================division====================================")

a=10
b=10
c=10
avg=(a+b+c)/3
print("the avg of a,b,c is : avg")
print(f"the avg of {a},{b},{c} is : {avg}")

the addition of 100 and 200 is 300
=======================addition===============================
the sub of 100 and 200 is -100
========================subtraction==============================
the mult of 100 and 200 is 20000
=========================multiplication=============================
the div  of 100 and 200 is 0.5
=========================division====================================
the avg of a,b,c is : avg
the avg of 10,10,10 is : 10.0

**Round**

In [ ]:
# print()
# type()
# int()
# float()
# str()
# bool()
# round()

# ctrl+A
# ctrl+/

In [45]:
print(round(10.77777))
print(round(10.77777,2))
print(round(10.77777,3))

11
10.78
10.778

In [98]:
a=11
b=10
c=10
avg=(a+b+c)/3
print(round(avg))
print(round(avg,2))

10
10.33

**I have multiple print statemnets but i want to show in single line**

**end operator**

In [35]:
print(10)
print(20)


print(10, end="")
print(20)


print(10, end=" ")
print(20)

print(10, end="=====>")
print(20)


print(10,end=" ")
print(20,end=" ")
print(30)

10
20
1020
10 20
10=====>20
10 20 30

In [19]:
print('hello',end=" ")
print('how', end=" ")
print('are', end= " ")
print('you')

hello how are you

**I have multiple values in a single print statements**

**I want to print them with some separation**

In [25]:
print(10,20,30)
#10===> 20===> 30

10 20 30

**sep**

In [27]:
print(10,20,30,sep="")
print(10,20,30,sep="  ")
print(10,20,30,sep="====>")

102030
10  20  30
10====>20====>30

- basic print statement
- format method
- f string method
- round
- end operator
- sep operator

In [ ]:
#wap take a radius of a circle calculate area of the circle
#var: radius var:pi=3.14
# formuale:pi*radius*radius
#print the answers using f string snd format

radius=120
pi=3.14
area=pi*radius*radius
print(f"area of the circle is: {area}")
print("area of the circle with radius {} and pi {} is : {} ".format(radius,pi,area))

In [12]:
#wap take the breadth and height of a right angle triangle
#calculate the area
#var1:breath var2:height
#formuale:0.5*breadth*heightb=15
b=10
h=4
a=0.5*b*h
print(f"area of the triangle is: {a}")
print("area of the traingle with breadth {} and height {} is : {}".format(b,h,a))

area of the triangle is: 20.0
area of the traingle with breadth 10 and height 4 is : 20.0

In [10]:
#wap take the length and breadth of a rectangle calculate area
#var1:lengthn var2:breadth
#formuale:length *breadth

l=8
b=3
a=l*b
print(f"area of the rectangle is: {a}")
print("area of the rectangle with length {} and breadth {}  is : {}".format(l,b,a))

area of the rectangle is: 24
area of the rectangle with length 8 and breadth 3  is : 24

In [7]:
#wap take the bill amount and tip amount
#calculate total bill
#var1:bill amount var2:tip amount
#formuale

billamount=3500
tipamount=150
totalbill=billamount +tipamount
print(f"total bill is : {totalbill}")
print("total bill with {} and {} is : {}".format(billamount,tipamount,totalbill))

total bill is : 3650
total bill with 3500 and 150 is : 3650