# Data Type

- int
- float
- string
- list
- tuple
- set
     - frozen set
- dictionary
- boolean
- complex
- range
- byte
- bye array
- memory view
- none type

$Integer$

In [9]:
number=100
number

100

In [13]:
type(number)

int

**Number System**
- Binary numbersystem
- Dcimal numbersystem
- Octal numbersystem
- Hexa  numbersystem

**Binary Number System**
- It is denoted with **0b** or **0B**
- Binary means two
- we have generally 0-9 digits available
- binary means only two digits allowed:0&1
- ex:0b101 0b111 0b000 0B001
- not valid :0b123 0B10032

In [17]:
0b0011

3

In [19]:
0b11101

29

**Boolean**

In [2]:
val=True
val

True

In [4]:
type(val)

bool

In [6]:
val1=False
type(val1)

bool

**Strings**

- English format representaion
- string represented with quotes
- we can use single,double,triple quotes

In [10]:
name='python'
name

'python'

In [12]:
type(name)

str

In [14]:
print(name)
#when we print we will not able to see the quotes

python

In [16]:
val='10'
type(val)

str

In [18]:
val1=10
type(val1)

int

In [26]:
name="Naresh It"
name
# the output diplays in single quote

'Naresh It'

In [28]:
type(name)

str

In [30]:
print(name)

Naresh It

In [41]:
str1="i love 'python'"
print(str1)

i love 'python'

In [43]:
str='i love "python"'
print(str)

i love "python"

- keep entire string in double quotes then highlight the word with single quote vice versa

**triple Quotes**
- triple quotes cannot use in coding part
- triple quotes means conveying info
- this process is known as **Doc string**
-  in jupyter notebook we have markdown optn
-  but in vscode or pycharm there is no markdown optn
-  so user will convey the info with triple quotes

In [ ]:
true=True     #w
true='True'   #w
true=10.3     #w
True=10       #f 
True=True     #f